@import "tailwindcss";

@theme{
    --color-primary:#05b6d3,
    --color-secondary:#EF863E,

}

.scrollbar-glass::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbar-glass::-webkit-scrollbar-track {
    background: rgba(246, 205, 125, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.scrollbar-glass::-webkit-scrollbar-thumb {
    background: rgba(82, 4, 224, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.scrollbar-glass::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 4, 224, 0.9);
    box-shadow: 0 4px 20px rgba(82, 4, 224, 0.3);
}





@layer components{
    .input-box{
        @apply w-full text-sm bg-cyan-600/5 rounded-sm px-5
        py-3 mb-4 outline-none
    }
    .btn-primary{
        @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:bg-cyan-100 hover:text-blue-500
    }
    .btn-light{
        @apply bg-cyan-50 text-blue-500 shadow-cyan-100/0 border-cyan-100 hover:bg-blue-500 hover:text-white
    }
    .login-ui-box{
        @apply w-80 h-[450px] rounded-full bg-blue-500 absolute rotate-45
    }

    .icon-btn{
        @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500 
    }

    .btn-small{
        @apply flex items-center gap-1 text-xs font-medium bg-cyan-50 text-[#05b6d3] shadow-cyan-100/0 border-cyan-100 hover:bg-[#05b6d3] hover:text-white rounded-sm px-3 py-[3px]
    }

    .btn-delete{
        @apply bg-rose-50 text-rose-500 shadow-rose-100/0 border border-rose-100 hover:bg-rose-500 hover:text-white
    }

    .input-label{
        @apply text-sm text-slate-400
    }
}